<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
                Dashboard
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a class="nav-link" asp-area="EmployeeManagement" asp-controller="Asset" asp-action="Index">
                    <i class="nav-icon bi bi-circle"></i> Asset
                </a>
            </li>
            
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
                Employee Management
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a class="nav-link" asp-area="EmployeeManagement" asp-controller="Employee" asp-action="Index">
                    <i class="nav-icon bi bi-circle"></i> Employee Configuration
                </a>
            </li>

        </ul>
    </li>
</ul>
