  
@model Asset
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Asset</h4>
<h4>Test</h4>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger validation-summary"></div>

    <div class="row">
        <div class="form-group" hidden>
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />

        </div>
        <div class="form-group col-12 col-md-6">
            <label asp-for="AssetName" class="control-label"></label>
            <input asp-for="AssetName" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="AssetType" class="control-label"></label>
            <input asp-for="AssetType" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="SerialNumber" class="control-label"></label>
            <input asp-for="SerialNumber" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="PurchaseDate" class="control-label"></label>
            <input asp-for="PurchaseDate" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="WarrantyExpiryDate" class="control-label"></label>
            <input asp-for="WarrantyExpiryDate" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6 pt-4">
            <input type="submit" value="Edit" class="btn btn-primary btn-sm" /> |
            <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        window.history.pushState("", "", "/");
    </script>
}

