@model Address

@{
    ViewData["Title"] = "Create Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Address</h4>
<hr />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger validation-summary"></div>

    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="State" class="control-label"></label>
            <input asp-for="State" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="PostalCode" class="control-label"></label>
            <input asp-for="PostalCode" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="Country" class="control-label"></label>
            <input asp-for="Country" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="IsPrimary" class="control-label"></label>
            <input type="checkbox" asp-for="IsPrimary" class="form-check-input" />
        </div>

        <div class="form-group col-12 col-md-6">
            <label asp-for="Notes" class="control-label"></label>
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>

        <div class="form-group col-12 col-md-6 pt-4">
            <input type="submit" value="Create" class="btn btn-primary btn-sm" /> |
            <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
